@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
  --header-height: 8rem;
  --header-height-mobile: 4rem;
  --configurator-banner-height: 3rem;
  --configurator-banner-height-mobile: 2rem;
  --body-height: calc(100vh - var(--header-height));
  --body-height-mobile: calc(100vh - var(--header-height-mobile));
  --primary: #333333;
  color: #333333;

}

body {
  margin: 0;
}
